[submodule "modules/acul"]
	path = modules/acul
	url = ../acul.git
[submodule "modules/3rd-party/vma"]
	path = modules/3rd-party/vma
	url = git@github.com:GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "cmake"]
	path = cmake
	url = ../acbt.git
